
{# templates/autor/listado.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
        </tr>
        </thead>
        <tbody>
        {% for autor in autores %}
            <tr>
                <td>
                    <a href="{{ path('autor_detalle', {'id': autor.id}) }}">
                        {{ autor.nombre }} {{ autor.apellidos }}
                    </a>
                </td>
                <td>{{ autor.fechaNacimiento | date('d/m/Y') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay autores</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}